.card {
    width: 23%;
    height: 500px;
    background-color: #eee;
    text-align: center;
    border-radius: 15px;
    float: left;
    margin: 1%;
    margin-top: 10%;


}

input {
    background-color: rgb(77, 5, 77);
    color: #eee;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

h1 {
    position: relative;
    top: -15%;
    margin-bottom: 2%;
}

p {
    position: relative;
    top: -15%;
    margin-bottom: 2%;
}

img {
    position: relative;
    width: 55%;
    height: 45%;
    border-radius: 50%;
    top: -20%;
}